*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
   background: rgba(238,215,161,1);
}
.heading{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.links{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 50px;
}
.title{
  font-size: 17px;
  display: block;
  font-weight: 600;
}
.card-text p a{
  font-size: 20px;
  text-decoration: none;
}
.heart{
  color: pink;
}
.add{
  color: red;
}
.download{
  color: lightgreen;
}